ul{
  list-style-type: none;
  display: flex;
  gap:20px;
  text-align: center;

  
} *{
  margin:0;
  padding:0;
  font-family: 'Kanit', sans-serif;

}
header{
  background-color:  #19747E;
  padding-top:20px;
  padding-bottom: 20px;
}
a{
  text-decoration: none;
  color:rgb(251, 255, 254);
} 
h1{
  text-align: center;
  padding-top:100px;
}#arian{
  padding-top:100px;
  margin-right:100px;
}
.arian{
  height:300px;
  
  

}#back{
  background-color: #A9D6E5;
  height: 500px;
  
}
#hi{
  background-color:#D1E8E2;
  height:300px;
}
@media  (max-width:600px){
  a{
    font-size:30px;
  } 
  body{
    background-color: rgb(255, 255, 255);
  }
  ul{
    padding-left:240px; 
  }
  .arian{
    height:300px; 
    margin-top:150px;
    margin-left:60px;
    float:left;
    
  }
  #hi{
    text-align: center;
    font-size: 50px; 
    
    padding-top:100px;
  } 
  ul{
    visibility: hidden; 

  }
}
#hi2{
  background-color:#D1E8E2;
  
}