body{
    background-color:black; 
  }
  html{
    color:white;
    font-family: 'Playfair Display', serif;
  } 
  h1{
    text-align:center;
   
  } 
  .list{
    list-style-type:none;
    display:flex;
    gap:20px;
    padding-left:730px;
  } 
  a{
    color:white; 
    
  }
  h3{
    text-align:center;
  }
  
  .lorem{
    margin-top:190px;
    padding-right:100px;
    padding-left:100px;
    display:flex;
  }
  .arian{
    height:250px;
    padding-left:100px;
    padding-top:150px;
    float:left;
    display:flex;
    
  }
  .flex{
    display:flex;
  } 
  .projects{
    padding-top:310px;
  }
  .div{
    height:100px;
    display:flex;
    padding-left:310px;
    float:bottom;
  }
  .divp{
    ;
    
  }